* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
}
.mySlides {
  height: 200px;
  width: 415px;
  padding: 8px;
  flex-direction: row;
}
.project-container {
  height: 500px;
  flex-direction: row;
  background-color: #ce8d66;
  /* border: #000 solid 9px; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin: 40px;
  /* width: 93%; */
}
.home-2 {
  color: #661b44;
  display: flex;
  justify-content: left;
  padding: 0 32px;
  font-family: "Baskervville", serif;
}
.cards {
  width: 350px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.3s ease-in;
  border: solid 1px black;

  /* box-shadow: 1px 4px 5px 2px grey; */
}

.cards > {
  padding: 10px;
}

.img-1 {
  height: 200px;
  width: 250px;
  border: 5px double #022a3c;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.project-title {
  padding: 20px 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  /* text-shadow: 1px 0px 2px #262654; */
}
.project-h1 {
  color: #c3bf6d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Baskervville", serif;
  font-weight: 100;
  letter-spacing: 6px;
  padding: 40px;
}
/* .project-home {
  font-size: 2.3rem;
  font-family: "Baskervville", serif;  */
/* color: rgb(205, 83, 83); */
/* color: #bbb;
  padding-left: 40px;
} */

/* .para-2 {
  color: black;
  letter-spacing: 3px;
  font-weight: 100;
  text-transform: none; */
/* display: flex; */
/* justify-content: right; */
/* font-family: "Zen Maru Gothic", sans-serif; */
/* font-family: "Baskervville", serif; */
/* text-indent: 22px; */
/* text-align: left; */
/* padding: 0 72px; */
/* line-height: 24px; */
/* } */
/* 
.a-connet4Vets {
  font-size: 1.3rem;
  padding-left: 40px;
  text-decoration: none;
  color: #661b44; */
/* font-family: "Baskervville", serif; */
/* letter-spacing: 10px; */
/* padding-top: 10px; */
/* } */

/* .home-h3 { */
/* width: 50%; */
/* justify-content: center; */
/* align-items: center; */
/* display: flex; */
/* font-family: "Zen Maru Gothic", sans-serif; */
/* } */

/* .list-of-tech { */
/* display: flex; */
/* padding-left: 5px; */
/* } */

/* .project-ul-list {
  list-style: none; */
/* line-height: 29px; */
/* font-family: "Zen Maru Gothic", sans-serif;
} */
