* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.entries {
  padding: 40px;
  /* margin: 140px; */
  display: block;
}
.entry-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.blog-body {
  display: block;
  margin-bottom: 40px;
  color: black;
  text-align: left;
  justify-content: right;
  text-transform: none;
  font-family: "Baskervville", serif;
  font-weight: 100;
  letter-spacing: 3px;
  word-wrap: break-word;
  line-height: 30px;
}

.entries-h2 {
  margin: 40px;
  color: #ce8d66;
  letter-spacing: 8px;
  font-size: 50px;
  font-weight: 100;
  font-family: "Baskervville", serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

.entries-h3 {
  color: #ce8d66;
  letter-spacing: 8px;
  font-size: 30px;
  font-weight: 100;
  font-family: "Baskervville", serif;
  width: 50%;
  padding-bottom: 20px;
}

.panda {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  border-radius: 3px;
}
.panda-img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 40px;
}

.back-button {
  /* padding-bottom: 40px; */
  text-decoration: none;
  color: #ce8d66;
}
