* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blog-body {
  margin: 40px;
  color: black;
  text-align: left;
  justify-content: right;
  text-transform: none;
  font-family: "Baskervville", serif;
  font-weight: 100;
  letter-spacing: 3px;
  width: 50%;
  word-wrap: break-word;
}
.entries-h2 {
  margin: 40px;
  color: #ce8d66;
  letter-spacing: 8px;
  font-size: 40px;
  font-weight: 100;
  font-family: "Baskervville", serif;
}
.entries-h3 {
  margin: 40px;
  color: #ce8d66;
  letter-spacing: 8px;
  font-size: 30px;
  font-weight: 100;
  font-family: "Baskervville", serif;
  border-bottom: #ce8d66 solid 1px;
  width: 50%;
  padding-bottom: 20px;
}
.panda {
  display: flex;
  /* margin-left: auto; */
  /* margin-right: auto; */
  justify-content: left;
  margin: 40px;
  width: 50%;
  border-radius: 3px;
}
.back-button {
  margin: 40px;
  padding-bottom: 40px;
  text-decoration: none;
  color: #ce8d66;
}
