* {
  background-color: #f5f6f4;
  /* font-family: "Baskervville", serif; */
}

.home-h1 {
  color: rgba(141, 149, 71, 0.947);
  font-size: 5.3rem;
  font-weight: 100;
  font-variant: small-caps;
  font-style: italic;
  letter-spacing: 8px;
  align-items: flex-end;
  display: flex;
  justify-content: right;
  padding: 0 32px;
  /* margin-top: 52px; */
  /* font-family: "Marcellus", serif; */
  font-family: "Baskervville", serif;
}
