* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  height: 220px;
  padding-top: 40px;
}
.nav-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-li {
  display: flex;
  text-align: center;
  padding: 0 30px;
  text-transform: capitalize;
}
.nav-a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-style: oblique;
  color: #c3bf6d;
  font-family: "Baskervville", serif;
}

.portfolio-logo {
  height: 150px;
  width: 150px;
  border-radius: 360px;
}
